---
slug: learn-more/auth-policy
layout: modules/ins_cms/public/views/layouts/default.liquid
max_deep_level: 2
authorization_policies:
  - modules/ins_cms/member
metadata: {
    page_name: "Auth Policy",
    page_title: "Auth Policy",
    is_auth_policy_enabled: "true",
    is_sitemap_enabled: "true",
    sitemap_priority: "4",
    sitemap_order: "8",
    sitemap_change_frequency: "daily",
}
--- 

<p>A</p>
