---
slug: ecom-test
layout: modules/ins_cms/sample-workflow-layout.liquid
metadata: {
    page_name: "ecom test",
    page_title: "test",
}
--- 

<p>{%- include 'modules/insites_ecommerce/seo', type: 'product', slug: 'total-price-value' -%}</p>
