---
slug: test-page
layout: modules/ins_cms/sub-folder/home-page.liquid
max_deep_level: 3
authorization_policies:
metadata: {
    page_name: "Test Page",
    created_by: "QA Insites",
    page_title: "Test Page",
    last_updated_by: "QA Insites",
}
--- 

<p>Live Asset Test</p>
<img src="https://cdn.staging.oregon.platform-os.com/instances/8697/property_uploads/modules/insites_assets/assets_upload/asset/39c2cd03-4a08-45b2-95c7-43983ff8ca85/Apple-Magic-Keyboard.webp?updated=1769745449">
<img src="{{ 'modules/Storage-Report-Test/Apple-Magic-Keyboard.webp' | asset_url }}">

<p>Main Folder Content</p>
<img src="https://cdn.staging.oregon.platform-os.com/instances/8697/property_uploads/modules/insites_assets/assets_upload/asset/04ca2985-1f88-4ff6-a9d4-ae0678b2b61c/balamb.jpg?updated=1769668310">
<img src="{{ 'modules/folder-delete-test/balamb.jpg' | asset_url }}">

<p>Sub Folder Content</p>
<img src="https://cdn.staging.oregon.platform-os.com/instances/8697/property_uploads/modules/insites_assets/assets_upload/asset/6355681c-ad98-489f-bb27-1861617ffbd1/national-park-OG.jpg?updated=1769668294">
<img src="{{ 'modules/folder-delete-test/delete-test-sub-folder/national-park-OG.jpg' | asset_url }}">