---
metadata: {
    created_by: "QA Console",
    layout_name: "Default",
    last_updated_by: "QA Console",
}
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
   {%- include 'modules/insites_cms/seo' -%}
  
</head>
<body>
    {{ content_for_layout }}
</body>
</html>