---
metadata: {
    created_by: "QA Insites",
    layout_name: "Form Layout",
    last_updated_by: "QA Insites",
}
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  	<!-- Form Include -->
    <link href="https://components.insites.io/v2/latest/css/insites-font-icons.css" rel="stylesheet" />
    <link href="https://components.insites.io/v2/latest/css/insites.css" rel="stylesheet" />
    <script type="module" src="https://components.insites.io/v2/latest/insites.esm.js"></script>
    <script nomodule src="https://components.insites.io/v2/latest/insites.js"></script>
    {%- include 'modules/insites_forms/form_code' -%}
  

</head>
<body>
	{{ content_for_layout }}
</body>
</html>