---
metadata: {
    layout: "list",
    page_slug: "ecommerce-orderssss",
    created_by: "QA Console",
    meta_title: "Ecommerce Orders",
    page_title: "Ecommerce Order",
    canonical_url: "https://iia-uat.staging.oregon.platform-os.com/ecommerce-orders",
    sitemap_order: "11",
    open_graph_url: "https://iia-uat.staging.oregon.platform-os.com/ecommerce-orders",
    schema_content: "<script type=\"application/ld+json\">
	{
      	\"@context\": \"http://schema.org\",
        \"@type\": \"Brand\",
        \"logo\": \"https://cdn.prod.website-files.com/5d074f688518921b7700284e/64d5a764100b80bd164f88aa_ins-logo-black.svg\",
        \"description\": \"Ecommerce Order List Page\"
    }
</script>",
    last_updated_by: "Gem Villafuerte",
    open_graph_type: "website",
    meta_description: "View and manage all your orders in one place. Track order statuses, review details, and stay updated with real-time changes.",
    open_graph_image: "{
  \"name\": \"og_image.png\",
  \"type\": \"image/png\",
  \"url\": \"https://cdn.staging.oregon.platform-os.com/instances/8697/property_uploads/modules/insites_core/attachment/file/0a44dd32-177f-4d4b-b0b6-c9fb366f6c9b/og_image.png\",
  \"accepted\": true,
  \"status\": \"success\",
  \"upload\": {
    \"bytesSent\": 0,
    \"progress\": 0
  },
  \"previewElement\": {},
  \"previewTemplate\": {},
  \"_removeLink\": {}
}",
    open_graph_title: "Ecommerce Orders",
    sitemap_priority: ".11",
    is_sitemap_enabled: "true",
    open_graph_site_name: "Ecommerce Orders",
    open_graph_description: "View and manage all your orders in one place. Track order statuses, review details, and stay updated with real-time changes.",
    sitemap_change_frequency: "always",
    is_visible_to_search_engines: "true",
}
---

<p>Ecommerce order</p>
