---
metadata: {
    slug: "{{ context.exports.data.item.slug }}",
    layout: "details",
    page_slug: "ecommerce-products",
    created_by: "QA Console",
    page_title: "Website | {{ context.exports.data.item.product_name }}",
    sitemap_order: "76",
    last_updated_by: "QA Insites",
    open_graph_image: "{}",
    sitemap_priority: ".76",
    is_sitemap_enabled: "true",
    sitemap_change_frequency: "monthly",
    is_visible_to_search_engines: "true",
}
---

<!-- CMS SEO fields -->
{%- include 'modules/insites_ecommerce/seo' -%}
<p>Products details page {{ context.exports.data.item.product_name }}</p>