---
slug: /
layout: ins_system_pages
searchable: null
redirect_to: null
redirect_code: null
max_deep_level: 3
metadata: {
    status: "published",
    page_name: "Welcome to your Insites Instance",
    page_type: "content",
    page_title: "Welcome to your Insites Instance",
}
--- 

<div class="console-wrap system-page-index grid-container">
    <div class="grid-x grid-margin-x align-center">
        <div class="cell text-center">
            <div class="grid-x align-center">
                <div class="spacer xxxx-large hide-for-small-only"></div>
                <div class="spacer x-large hide-for-large hide-for-medium"></div>
                <h1 class="cell large-12 medium-12 small-12">Welcome to your Insites Instance </h1>
                <div class="spacer small"></div>
                <p class="cell large-8 medium-10 small-10 sub-heading">Congratulations on creating your instance! If you are new to Insites you can follow the links below to help get started on building your project.<p>
                <div class="spacer xxx-large"></div>
            </div>
        </div>
        <div class="large-3 medium-6 small-10 cell card-wrapper">
            <ins-card>
                <div class="card-inner">
                    <a class="card-content-wrap" href="https://docs.insites.io" target="_blank">
                        <span class="icon-book"></span>
                        <div class="spacer x-small"></div>
                        <h4>Documentation</h4>
                        <div class="spacer small"></div>
                        <p class="card-content">Learn all about the Insites Platform using the documentation site.</p>
                        <div class="spacer medium"></div>
                        <hr>
                        <div class="spacer medium"></div>
                        <p class="learn-more">Learn More <span class="icon-angle-right"></span><p>
                    </a>
                </div>
            </ins-card>
            <div class="spacer medium hide-for-large"></div>
        </div>
        <div class="large-3 medium-6 small-10 cell card-wrapper">
            <ins-card>
                <div class="card-inner">
                    <a class="card-content-wrap" href="https://console.insites.io/console/#/marketplace" target="_blank">
                        <span class="icon-shopping-bag"></span>
                        <div class="spacer x-small"></div>
                        <h4>Marketplace</h4>
                        <div class="spacer small"></div>
                        <p class="card-content">Kick start your project by using Apps from the Marketplace.</p>
                        <div class="spacer medium"></div>
                        <hr>
                        <div class="spacer medium"></div>
                        <p class="learn-more">Learn More <span class="icon-angle-right"></span><p>
                    </a>
                </div>
            </ins-card>
            <div class="spacer medium hide-for-large"></div>
        </div>
        <div class="large-3 medium-6 small-10 cell card-wrapper">
            <ins-card>
                <div class="card-inner">
                    <a class="card-content-wrap" href="https://console.insites.io" target="_blank">
                        <span class="icon-insites-logo"></span>
                        <div class="spacer x-small"></div>
                        <h4>Console</h4>
                        <div class="spacer small"></div>
                        <p class="card-content">Manage your Instances, billing, users and account settings in one place.</p>
                        <div class="spacer medium"></div>
                        <hr>
                        <div class="spacer medium"></div>
                        <p class="learn-more">Learn More <span class="icon-angle-right"></span><p>
                    </a>
                </div>
            </ins-card>
            <div class="spacer medium hide-for-large hide-for-medium"></div>
        </div>
        <div class="large-3 medium-6 small-10 cell card-wrapper">
            <ins-card>
                <div class="card-inner">
                    <a class="card-content-wrap" href="/admin/login" target="_blank">
                        <span class="icon-exit-to-app"></span>
                        <div class="spacer x-small"></div>
                        <h4>Insites Admin</h4>
                        <div class="spacer small"></div>
                        <p class="card-content">Manage your content, databases and settings through the Instance Admin.</p>
                        <div class="spacer medium"></div>
                        <hr>
                        <div class="spacer medium"></div>
                        <p class="learn-more">Learn More <span class="icon-angle-right"></span><p>
                    </a>
                </div>
            </ins-card>
        </div>
        <div class="grid-x">
            <div class="large-6 large-offset-3 medium-8 medium-offset-2 small-10 small-offset-1 cell">
                <div class="spacer xxx-large"></div>
                <div class="ui-components">
                    <div class="ui-image">
                        <img src="https://uploads.staging.oregon.platform-os.com/instances/9577/property_uploads/modules/insites_assets/assets_upload/asset/47a18bf6-0333-4153-9bf5-e5ae34321125/system-page-web-components.png?updated=1684647417" width="74">
                    </div>
                    <div class="ui-description">
                        <p class=title><strong>Try our UI Components</strong></p>
                        <div class="spacer x-small"></div>
                        <p>Insites Components provide a simple solution to creating web system user interfaces that are robust, scalable and consistent with a huge selection to choose from.</p>
                        <div class="spacer small"></div>
                        <a class="learn-more" href="https://docs.insites.io/web-components" target="_blank">Learn More  <span class="icon-angle-right"></span></a>
                    </div>
                </div>
                <div class="spacer xxxx-large hide-for-small-only"></div>
                <div class="spacer x-large show-for-small-only"></div>
            </div>
        </div>
    </div>
</div>
